<div  class = "row"> <h3 class=" col-4 title text-center  ">megahedapp</h3>  
 <h1  class="col-4 title text-center ">course name</h1>
  <span class="col-4  text-center  ">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span> </span>
</div>
 <!--
-->
<label> data</label>
<input #data value="input Text">
<label>
password
</label>
<input [value]="data.value">
<input value="initial megahedapp" #in type="text">
<button>click me</button>
<div>copy value {{in.value}}</div>
<div>{{product+productprice}}</div>
<input [value]="product" #in type="text">
<div>[[product+productprice]]</div>
<div>[[product+productprice]]</div>
<div>[[product+productprice]]</div>
<div>[[product+productprice]]</div>




<button class="btn" #button  (click)="onclickbtn(#event.target)"> click here</button>
<button class="btn" #button (click)="onclickbtn(button.TEXT_NODE)"> click here</button>
<button class="btn" #button (click)="onclickbtn(button.className)"> click here</button>
<input [(ngmode)]="textvalue">
<h2>{{textvalue}}</h2>