
<!--<div class="container-fluid">
  <app-navbar></app-navbar>


  <div class="row">
    <div class="col-2"><app-sidebar></app-sidebar>
</div>
    <div class="col-10"><app-home></app-home>
</div>
  </div>
</div>
<div  id="liveAlertplaceholder"></div>
<button tybe="button" class="btn btn-primary" id="liveAlertBtn" (click)="sms()"> petere</button>
<div>{{ title }}</div>

<div>{{ age }}</div>


<div>{{ username }}</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="petere" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="liveAlertBtn">Button</button>
</div>
-->

<input #phone placeholder="phone number" />

<!-- lots of other elements -->

<!-- phone refers to the input element; pass its `value` to an event handler -->
<button (click)="callPhone(phone.value)">Call</button>


<input ref-fax placeholder="fax number" />
<button (click)="callFax(fax.value)">Fax</button>
<app-sizer [(size)]="fontSizePx"></app-sizer>

<app-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></app-sizer>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<app-home></app-home>

<h1>parent</h1>
<h2>
current count  is {{child.count}}
</h2>
<button
 (click)="add()">click
</button>
<button (click)="min()">click</button>

import { Injectable } from '@angular/core';
import { environment } from 'src/environments/environment';
 
@Injectable({ providedIn: 'root' }) 

export class ConsoleToggleService
 { 
constructor() {}

 disableConsoleInProduction(): void { if (environment.production) 
{
 console.warn(`🚨 Console output is disabled on production!`);
 console.log = function (): void { };
 console.debug = function (): void { };
 console.warn = function (): void { };
 console.info = function (): void { };
       }
    }
 } 
 <h2>Example of Angular Console log</h2>
<p>
    press F12 and then run the code
</p>

{{ console.error('It will show up an error') }}
{{ console.log('It will show up logging') }}