
<div class="container-fluid">
  <app-navbar></app-navbar>


  <div class="row">
    <div class="col-2"><app-sidebar></app-sidebar>
</div>
    <div class="col-10"><app-home></app-home>
</div>
  </div>
</div>
<div  id="liveAlertplaceholder"></div>
<button tybe="button" class="btn btn-primary" id="liveAlertBtn" (click)="sms()"> petere</button>
<div>{{ title }}</div>

<div>{{ age }}</div>


<div>{{ username }}</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="petere" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="liveAlertBtn">Button</button>
</div>